<nav>
    <img alt="Ada Lovelace" class="left" height="186" src="Images/AdaLovelace.jpg" width="186">
    <div class="course">
        <p class="course-number">CSSE 120</p>
        <p class="course-name">Introduction to<br>Software Development</p>
        <p class="course-term">TERM_AND_YEAR (aka TERM_PER_BANNER)</p>
    </div>
    <div class="links">
        <a href="Syllabus/Syllabus.pdf">SYLLABUS</a>
        <a href="Resources/CSSE120_Setup/SettingUpYourComputerForCSSE120.pdf">COMPUTER SETUP</a>
        <a href="https://piazza.com/rose-hulman/fall2020/csse120/home">PIAZZA (Q&A)</a>
        <a href="https://docs.python.org/3/library/index.html">PYTHON STANDARD LIBRARY</a>
        <a href="https://docs.python.org/3/reference/index.html">PYTHON LANGUAGE REFERENCE</a>
        <a href="https://www.python.org/doc/">MORE PYTHON DOCUMENTATION</a>
        <!--    <a href="Resources/Python/index2.html">PYTHON</a>-->
        <!--    <a href="Resources/Graphics/index2.html">GRAPHICS</a>-->
        <!--    <a href="Resources/Robotics/index2.html">ROBOTICS</a>-->
        <!--    <a href="CapstoneTeamProject-202020.pdf">CAPSTONE PROJECT</a>-->
    </div>
    <img alt="Two women coding together" class="right" height="186" src="Images/two-women-coding-together-cropped.png"
         width="200">
</nav>