<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,semibold,semibolditalic,bold,bolditalic,extrabold,extrabolditalic"
            rel="stylesheet">
    <link href="../styles/color_scheme.css" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet">
    <link href="../styles/navigation_bar.css" rel="stylesheet">
    <link href="../styles/session_page.css" rel="stylesheet">
    <link href="../styles/exam_information_page.css" rel="stylesheet">

    <title> Exams: Description and Rules </title>
</head>

<body>

<nav>
    <img alt="Ada Lovelace" class="left" height="186" src="../Images/AdaLovelace.jpg" width="186">
    <div class="course">
        <p class="course-number">CSSE 120</p>
        <p class="course-name">Introduction to<br>Software Development</p>
        <p class="course-term">TERM_AND_YEAR (aka TERM_PER_BANNER)</p>
    </div>
    <div class="links">
        <a href="../Syllabus/Syllabus.pdf">SYLLABUS</a>
        <a href="../Resources/CSSE120_Setup/SettingUpYourComputerForCSSE120.pdf">COMPUTER SETUP</a>
        <a href="https://piazza.com/rose-hulman/fall2020/csse120/home">PIAZZA (Q&A)</a>
        <!--    <a href="Resources/Python/index2.html">PYTHON</a>-->
        <!--    <a href="Resources/Graphics/index2.html">GRAPHICS</a>-->
        <!--    <a href="Resources/Robotics/index2.html">ROBOTICS</a>-->
        <!--    <a href="CapstoneTeamProject-202020.pdf">CAPSTONE PROJECT</a>-->
    </div>
    <img alt="Two women coding together" class="right" height="186"
         src="../Images/two-women-coding-together-cropped.png"
         width="200">
</nav>

<!--__NAVIGATION_BAR__-->

<!--TITLE:-->
<div class="exam-information-page">
    <div class="title">
        <span class="prefix">Exam 1:</span>
        <span class="distinguish-from-surrounding-padded">Admission Ticket,</span>
        <span class="distinguish-from-surrounding-padded">Description,</span> and
        <span class="distinguish-from-surrounding-padded">Rules</span>
    </div>

    <!--  Part for the ADMISSION TICKET-->
    <div class="admission-ticket part">
        <div class="header admission-ticket-header"> Admission Ticket</div>
        <div class="body">
            <p>
                For each exam in CSSE 120,
                <span class="emphasis">you MUST have completed all the practice problems,</span>
                both paper-and-pencil and on-the-computer,
                to your instructor's satisfaction,
                <span class="critical">BEFORE you take the exam.</span>
            </p>
            <ul>
                <li>
                    That is, completing those practice problems are your <span class="critical">Admission Ticket</span>
                    for taking the exam.
                </li>
            </ul>
            <p>
                <span class="emphasis">For Exam 1,</span> the practice problems are:
            </p>
            <ol>
                <li>
                    The <span class="emphasis">05a-Debugging</span> project in PyCharm.
                </li>
                <li>
                    The <span class="emphasis">05b-Exam1Practice</span> project in PyCharm.
                </li>
                <li>
                    The <a
                        href="../ExamInformation/ExamInformation-Old/Exam1/Exam1_PracticeForPaperAndPencilProblems.pdf">
                    Paper-and-Pencil Practice Problems for Exam 1</a>,
                    including checking your answers via this
                    <a href="../ExamInformation/ExamInformation-Old/Exam1/Exam1_SOLUTION_PracticeForPaperAndPencilProblems.pdf">
                        Answer Key</a> for those problems.
                    <ul>
                        <li>
                            Of course, check each answer <span class="critical">AFTER (!)</span> doing each
                            problem. To do otherwise would only harm your learning.
                        </li>
                    </ul>
                </li>
            </ol>
            <p>
                You <span class="emphasis">demonstrate</span> that you have completed the practice problems by
                submitting your solutions to Moodle in the usual way
                (in Sessions 5 and 6, respectively).
            </p>
        </div>
    </div>

    <!--  Rules for BOTH parts-->
    <div class="both-parts part">
        <div class="header both-parts-header">
            Two parts: <span class="distinguish-from-surrounding-padded">Paper-and-Pencil</span>
            and <span class="distinguish-from-surrounding-padded">On-the-Computer</span>
        </div>
        <div class=" body newspaper">
            <ol>
                <li>
                    <p>
                        <span class="emphasis">Time limit:</span>
                        You have <span class="emphasis"> 2 hours </span> to complete the exam (both parts),
                        plus a <span class="emphasis"> 30-minute grace period.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="emphasis">Communication:</span>
                        For both parts of the exam, you must not communicate with anyone except your instructors
                        and their assistants, if any. In particular:
                    </p>
                    <ul>
                        <li>
                            <span class="critical">During</span> the exam,
                            <span class="emphasis">
                you must not talk with anyone else or exchange information with them during the exam.
              </span>
                        </li>
                        <li>
                            <span class="critical">After</span> the exam,
                            <span class="emphasis">you must not talk about the exam with anyone who has not yet taken it.</span>
                        </li>
                        <li>
                            <span class="critical">During</span> the exam,
                            <em>do NOT use email, chat or the like.</em>
                            Close any such applications before beginning the exam.
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        <span class="emphasis"> Questions during the exam:</span>
                        Throughout the exam, if you have a
                        <span class="emphasis">question about WHAT we are asking you to do,</span>
                        e.g. if you do not understand the specification of a function that you are to implement,
                        <span class="emphasis">ask ANY of the instructors</span>
                        to explain WHAT you are to do for the problem.
                        (If a student assistant is proctoring your room, ask them to get an instructor.)
                    </p>
                    <p>
                        <span class="emphasis">You are on your own for solving the problems.</span>
                        In particular
                        <span class="critical">we will not answer any questions about error messages.</span>
                    </p>
                </li>
                <li>
                    <span class="emphasis">You are welcome to leave the room</span>
                    to use the restroom, stretch your legs,
                    go outside to get a break from your mask, or whatever.
                    You do not need to ask permission to do so.
                    But remember: <span class="emphasis"> Do NOT talk to ANYONE about ANYTHING when you do so.</span>
                </li>
                <li>
                    <span class="emphasis">Assistive devices:</span>
                    You may use any assistive devices you normally use for taking
                    exams, including but not limited to the following:
                    <ul>
                        <li> Dictionaries and/or translators.</li>
                        <li> Hearing, vision and hand-writing assistive devices.</li>
                        <li> Devices to address dyslexia.</li>
                        <li> A calculator (but only for computing numeric values (no programming).</li>
                        <li> Blank paper and/or blank post-it notes. (We'll bring some.)</li>
                        <li>
                            If your proctor permits it, you may listen to quiet music using
                            headphones to the extent that it does not disturb other students.
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="emphasis">We want you to have a testing environment in which you are comfortable.</span>
                    <ul>
                        <li>
                            Of course we will honor all accommodations (including extra time)
                            for students that have obtained official letters stating so.
                        </li>
                        <li>
                            Additionally,
                            if you need a quieter or more secluded place to take the exam, or
                            if there are other accommodations that help you be more
                            effective in demonstrating your knowledge/understanding via this
                            exam, do not hesitate to discuss them in advance with your
                            instructor.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>


    <div class="specifics-for-parts">

        <!--  WHEN and WHERE is the exam? -->
        <div class="part when-and-where">
            <div class="header when-and-where-header">
                When and Where is Exam 1?
            </div>
            <div class="body">
                <ol>
                    <li>
                        <span class="emphasis">When:</span>
                        <span class="emphasis">Monday evening,</span> September 22.
                        <ul>
                            <li> So NOT our regular class day, NOT our regular class time.</li>
                        </ul>
                    </li>
                    <li>
                        <span class="emphasis">Where:</span>
                        <ul>
                            <li>
                                <span class="emphasis">Section 1 (Mutchler): Olin 257,</span>
                                <span class="critical">EXCEPT</span>
                                Lane Wagner, Kaileb White, and Gaven Williams are in Olin 169.
                            </li>
                            <li>
                                <span class="emphasis"> Section 2 (Mutchler): Olin 259</span>
                            </li>
                            <li>
                                <span class="emphasis"> Section 3 (Noureddine): Olin 267,</span>
                                <span class="critical">EXCEPT</span>
                                Keith Voltmer, Chase Wilkinson, and Thomas Yang are in Olin 169.
                            </li>
                            <li>
                                <span class="emphasis"> Section 2 (Ebrahimi): Olin 269 </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        There is <span class="emphasis">NO REGULAR CLASS on Tuesday,</span> September 23.
                    </li>
                </ol>
            </div>
        </div>

        <!--  PAPER-AND-PENCIL PART-->
        <div class="paper-and-pencil part">
            <div class="header paper-and-pencil-header">
                Paper-and-Pencil part of Exam 1
            </div>
            <div class="body">
                <p>
                    Follow this link for <span class="emphasis"> additional IMPORTANT information </span>
                    about the
                    <a href="more_information.html" class="strong-link">Paper-and-Pencil part</a> of the exam.
                </p>
            </div>
        </div>

        <!--  ON-THE-COMPUTER PART-->
        <div class="on-the-computer part">
            <div class="header on-the-computer-header">
                On-the-Computer part of Exam 1
            </div>
            <div class="body">
                <p>
                    Follow this link for <span class="emphasis"> additional IMPORTANT information </span>
                    about the
                    <a href="more_information.html" class="strong-link">On-the-Computer part</a> of the exam.
                </p>
            </div>
        </div>
    </div>
</div>

__FOOTER__

</body>
</html>


<!--<li>-->
<!--  <span class="emphasis">Taking the Paper-and-Pencil part:</span>-->
<!--  <ul>-->
<!--    <li>-->
<!--      You do the Paper-and-Pencil part first.-->
<!--    </li>-->
<!--    <li>-->
<!--      When done, turn it in by handing it to the proctor in the room.-->
<!--    </li>-->
<!--    <li>-->
<!--      Most students spend 30 to 45 minutes on the paper-and-penci part.-->
<!--    </li>-->
<!--    <li>-->
<!--      You may NOT return to the Paper-and-Pencil part after beginning the On-the-Computer part.-->
<!--    </li>-->
<!--  </ul>-->
<!--</li>-->

<!--<span class="emphasis">Taking the On-the-Computer part:</span>-->
<!--<ul>-->
<!--  <li>-->
<!--    You begin the On-the-Computer part after turning in the Paper-and-Pencil part.-->
<!--  </li>-->
<!--  <li>-->
<!--    You get the On-the-Computer part as usual,-->
<!--    by doing <code> VCS ~ Update Project</code> in PyCharm.-->
<!--  </li>-->
<!--  <li>-->
<!--    <span>Commit-and-push frequently, but AT LEAST</span>-->
<!--    <span class="critical">every time you continue to another module.</span>-->
<!--  </li>-->
<!--  <li>-->
<!--    Turn in the On-the-Computer part in the same way you have turned in other PyCharm projects:-->
<!--    <ol>-->
<!--      <li> Commit-and-push your final version.</li>-->
<!--      <li>-->
<!--        In Moodle, turn in ALL the files in your <span class="emphasis">src</span> folder-->
<!--        in the usual way.-->
<!--      </li>-->
<!--    </ol>-->
<!--  </li>-->
<!--</ul>-->

<!--&lt;!&ndash;  PAPER-AND-PENCIL PART&ndash;&gt;-->
<!--<div class="paper-and-pencil part">-->
<!--  <div class="header paper-and-pencil-header">-->
<!--    Paper-and-Pencil part of Exam 1-->
<!--  </div>-->
<!--  <div class="body">-->
<!--    <ol>-->
<!--      <li>-->
<!--        <span class="emphasis">Taking the Paper-and-Pencil part:</span>-->
<!--        <ul>-->
<!--          <li>-->
<!--            You do the Paper-and-Pencil part first.-->
<!--          </li>-->
<!--          <li>-->
<!--            When done, turn it in by handing it to the proctor in the room.-->
<!--          </li>-->
<!--          <li>-->
<!--            Most students spend 30 to 45 minutes on the paper-and-penci part.-->
<!--          </li>-->
<!--          <li>-->
<!--            You may NOT return to the Paper-and-Pencil part after beginning the On-the-Computer part.-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        Follow this link for-->
<!--        <a href="exam-details.html">-->
<!--          additional IMPORTANT information about the Paper-and-Pencil part</a>-->
<!--        of the exam.-->
<!--      </li>-->
<!--    </ol>-->
<!--  </div>-->
<!--</div>-->

<!--  ON-THE-COMPUTER PART-->
<!--<div class="on-the-computer part">-->
<!--  <div class="header on-the-computer-header">-->
<!--    On-the-Computer part of Exam 1-->
<!--  </div>-->
<!--  <div class="body">-->
<!--    <ul>-->
<!--      <li>-->
<!--        <span class="emphasis">Taking the On-the-Computer part:</span>-->
<!--        <ul>-->
<!--          <li>-->
<!--            You begin the On-the-Computer part after turning in the Paper-and-Pencil part.-->
<!--          </li>-->
<!--          <li>-->
<!--            You get the On-the-Computer part as usual,-->
<!--            by doing <code> VCS ~ Update Project</code> in PyCharm.-->
<!--          </li>-->
<!--          <li>-->
<!--            <span>Commit-and-push frequently, but AT LEAST</span>-->
<!--            <span class="critical">every time you continue to another module.</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            Turn in the On-the-Computer part in the same way you have turned in other PyCharm projects:-->
<!--            <ol>-->
<!--              <li> Commit-and-push your final version. </li>-->
<!--              <li>-->
<!--                In Moodle, turn in ALL the files in your <span class="emphasis">src</span> folder-->
<!--                in the usual way.-->
<!--              </li>-->
<!--            </ol>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        Follow this link for-->
<!--        <a href="exam-details.html">-->
<!--          additional IMPORTANT information about the On-the-Computer part</a>-->
<!--        of the exam.-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->


<!--  <div class="paper-and-pencil part">-->
<!--    <div class="header paper-and-pencil-header"> Paper-and-Pencil part of Exam 1</div>-->
<!--    <div class="body">-->
<!--      <ol>-->
<!--        <li>-->
<!--          <p>-->
<!--            <span class="emphasis">What sort of questions should I expect?</span>-->
<!--          </p>-->
<!--          <p>-->
<!--            The <span class="emphasis">Paper-and-Pencil</span>-->
<!--            portion of the exam contains <span class="emphasis">problems in which you:</span>-->
<!--          </p>-->
<!--          <ul>-->
<!--            <li>-->
<!--              <span class="emphasis">Trace code by hand.</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              Write <span class="emphasis">short snippets of code</span> to do various things.-->
<!--            </li>-->
<!--            <li>-->
<!--              Indicate <span class="emphasis">what names (variables) are valid at what places,</span>-->
<!--              thereby demonstrating your understanding of <span class="technical-name">scope.</span>-->
<!--            </li>-->
<!--            <li>-->
<!--              Write a <span class="emphasis">short but complete implementation of a function</span>-->
<!--              whose specification you are given.-->
<!--            </li>-->
<!--          </ul>-->
<!--          <p>-->
<!--            plus possibly other problems similar to the above.-->
<!--          </p>-->
<!--          <p>-->
<!--            Here is a-->
<!--            <a href="../Sessions/ExamInformation/Exam1/Exam1_Paper_and_Pencil_SAMPLE_EXAM.pdf">sample of the-->
<!--              paper-and-pencil portion</a> of Exam 1.-->
<!--          </p>-->
<!--        </li>-->
<!--        <li>-->
<!--          <p>-->
<!--            <span class="emphasis">What are its rules?</span>-->
<!--          </p>-->
<!--          <p>-->
<!--            The rules above for both parts of the exam apply. Additionally:-->
<!--          </p>-->
<!--          <p>-->
<!--            The ONLY <span class="emphasis">external resource that you may use</span>-->
<!--            beyond those listed above is a-->
<!--            <span class="critical">Hint Sheet,</span> as follows:-->
<!--          </p>-->
<!--          <ul>-->
<!--            <li>-->
<!--              Your Hint Sheet must be a single 8.5 x 11-inch sheet of paper,-->
<!--              with whatever you want on it, typed or handwritten or a combination of the two.-->
<!--            </li>-->
<!--            <li>-->
<!--              You must have prepared your Hint Sheet before beginning the exam.-->
<!--            </li>-->
<!--            <li>-->
<!--              It is best if you create your own sheet (working with someone else is fine)-->
<!--              as that will probably maximize both your learning and your score on the exam.-->
<!--            </li>-->
<!--            <li>-->
<!--              If (and ONLY if) you lack access to a printer,-->
<!--              you may create an electronic document that is the equivalent of the above sheet of paper-->
<!--              and you may access that document while taking the exam.-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ol>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  /* ON-THE-COMPUTER PART */-->
<!--  <div class="on-the-computer part">-->
<!--    <div class="header on-the-computer-header"> On-the-Computer part of Exam 1</div>-->
<!--    <div class="body">-->
<!--      <ol>-->
<!--        <li>-->
<!--          <p>-->
<!--            <span class="emphasis">What sort of questions should I expect?</span>-->
<!--          </p>-->
<!--          <p>-->
<!--            The <span class="emphasis">On-the-Computer</span>-->
<!--            portion of the exam contains-->
<!--            <span class="emphasis">problems just like the ones you have done in your PyCharm exercises.</span>-->
<!--            Concepts that will be assessed include (but are not limited to):-->
<!--          </p>-->
<!--          <ol type="a">-->
<!--            <li>-->
<!--              Implementing functions that sum (possibly conditionally) or count the numbers in a range-->
<!--              that satisfy some problem.-->
<!--              <ul>-->
<!--                <li>-->
<!--                    <span-->
<!--                        class="emphasis"> You are restricted to the SINGLE-parameter form of a RANGE expression.</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  So come prepared to determine how many times the loop must run, and what expression of the loop-->
<!--                  variable gives the desired sequence of numbers to check.-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              Implementing functions that call other functions.-->
<!--              The functions to be called might be <em>built-in</em> functions,-->
<!--              or defined in a library like the <em>math</em> library,-->
<!--              or defined in the current module.-->
<!--              <ul>-->
<!--                <li> Wherever practical, you should CALL a function instead of COPY-AND-PASTING its code.</li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              Implement functions that require iterating through a RANGE expression,-->
<!--              with the same restriction to SINGLE-parameter RANGE expressions-->
<!--              as in the Paper-and-Pencil part of the exam.-->
<!--            </li>-->
<!--            <li>-->
<!--              Implementing functions whose specification indicates that:-->
<!--              <ul>-->
<!--                <li>-->
<!--                  The parameters might be numeric or instances of classes-->
<!--                  defined in the <em>rosegraphics</em> library.-->
<!--                </li>-->
<!--                <li>-->
<!--                  You construct new instances of classes defined in the <em>rosegraphics</em> library.-->
<!--                </li>-->
<!--                <li>-->
<!--                  The characteristic of those newly-constructed objects may be independent of the parameters-->
<!--                  or computing by using one or more of the parameter's-->
<!--                  <span class="technical-name">instance variables.</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                  You apply <span class="technical-name">methods</span>-->
<!--                  to the given and newly raw the newly-constructed objects,-->
<!--                  e.g. to draw the objects and do other things that methods in the <em>rosegraphics</em>-->
<!--                  library do for you.-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      Using the DOT trick and pop-up to learn how to construct objects from-->
<!--                      <em>rosegraphics</em>-->
<!--                      that you have not yet seen, and/or apply methods and reference instance variables-->
<!--                      from objects of classes familiar to you as well as ones new to you.-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              Same as the previous item, but where the objects that you construct and draw-->
<!--              form a simple pattern (and are constructed and drawn inside a loop).-->
<!--            </li>-->
<!--            <li>-->
<!--              Given a specification of a function, write code that would TEST that function-->
<!--              (by computing by hand or with a calculator the expected value to be returned-->
<!--              by the function on arguments of your own choosing, and printing both the-->
<!--              expected value and the actual value returned by the function on those arguments.-->
<!--            </li>-->
<!--          </ol>-->
<!--        </li>-->
<!--        <li>-->
<!--          <p>-->
<!--            <span class="emphasis">What are its rules?</span>-->
<!--          </p>-->
<!--          <p>-->
<!--            The rules above for both parts of the exam apply. Additionally, you may use:-->
<!--          </p>-->
<!--          <ul>-->
<!--            <li>-->
<!--              Any written material you choose to bring to the exam:-->
<!--              books, handouts, notes, etc.-->
<!--              <ul>-->
<!--                <li>-->
<!--                  Please organize any handouts you bring-->
<!--                  so that they are not spilling over into a neighbor’s workspace-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              Your computer and anything on it, including (but not limited to)-->
<!--              your own code from previous PyCharm projects;-->
<!--            </li>-->
<!--            <li>-->
<!--              Your own Github repositories.-->
<!--            </li>-->
<!--            <li>-->
<!--              Your own Moodle (but only for our class).-->
<!--            </li>-->
<!--            <li>-->
<!--              Anything directly reachable from the-->
<!--              <a href="http://www.rose-hulman.edu/class/csse/csse120/202110">CSSE 120 Home Page</a>-->
<!--              (including but not limited to the Session Preparation pages, the course Piazza site,-->
<!--              and the official Python documentation).-->
<!--            </li>-->
<!--            <li>-->
<!--              <span class="critical">You may NOT use any search engine (like Google) </span>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ol>-->
<!--    </div>-->
<!--  </div>-->


<!--<!DOCTYPE HTML>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">-->
<!--  <link rel="stylesheet" type="text/css" href="../../styles/style.css">-->
<!--  <link rel="stylesheet" type="text/css" href="../../styles/navigation_bar.css">-->
<!--  <link rel="stylesheet" type="text/css" href="../../styles/session_page.css">-->
<!--  <title>Description and Rules for the Paper-and-Pencil part of the exam</title>-->
<!--</head>-->

<!--<body>-->

<!--<nav>-->
<!--  <img src="../../../Images/girls_who_code2_90x60.png" alt="Girls coding together"/>-->
<!--  <div>-->
<!--    <p>-->
<!--      <span class="course_number"> CSSE 120</span>-->
<!--      <br>-->
<!--      <span class="course_title">Introduction to Software Development</span>-->
<!--      <br>-->
<!--      <span class="course_term">Spring term, 2019-20 (aka 202030)</span>-->
<!--    </p>-->
<!--  </div>-->
<!--  <a href="../../Syllabus_CourseInformation/syllabus.html">SYLLABUS</a>-->
<!--  <a href="../../Resources/CSSE120_Setup/index2.html">SETUP</a>-->
<!--  <a href="https://piazza.com/rose-hulman/winter2020/csse120/home">PIAZZA (Q&A)</a>-->
<!--</nav>-->

<!--<div class="session_header">-->
<!--  Description and Rules for the Paper-and-Pencil part of the exam-->
<!--</div>-->

<!--<div class="session_body">-->
<!--  <div class="newspaper">-->

<!--    <ol>-->
<!--      <li>-->
<!--        <p>-->
<!--          <span class="important_emphasis">The Paper-and-Pencil</span>-->
<!--          portion of the exam contains <span class="important">problems in which you:</span>-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <span class="important">Trace code by hand.</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            Write <span class="important">short snippets of code</span> to do various things.-->
<!--          </li>-->
<!--          <li>-->
<!--            Indicate <span class="important">what names (variables) are valid at what places,</span>-->
<!--            thereby demonstrating your understanding of <span class="important">scope.</span>-->
<!--          </li>-->
<!--          <li>-->
<!--            Write a <span class="important">short but complete implementation of a function</span>-->
<!--            whose specification you are given.-->
<!--          </li>-->
<!--        </ul>-->
<!--        plus possibly other problems similar to the above.-->
<!--        <p>-->
<!--          Here is a-->
<!--          <a href="../../Resources/ExamPreparation/Exam1_Paper_and_Pencil_SAMPLE_EXAM.pdf">sample of the-->
<!--            paper-and-pencil portion</a> of Exam 1.-->
<!--        </p>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          PRIOR to taking the exam,-->
<!--          you should prepare a <span class="important">Hint Sheet</span>-->
<!--          with whatever you want on it, typed or handwritten or a combination of the two,-->
<!--          subject to the following:-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li>-->
<!--            For Exam 1:  You may use only ONE side of ONE 8.5 x 11 sheet of paper.-->
<!--            For Exams 2 and 3:  You may use TWO such sheets of paper.-->
<!--          </li>-->
<!--          <li> You must have prepared the Hint Sheet before beginning the exam.</li>-->
<!--          <li>-->
<!--            It is best if you create your own sheet (working with someone else is fine)-->
<!--            as that will probably maximize both your learning and your score on the exam.-->
<!--          </li>-->
<!--          <li>-->
<!--            If you lack access to a printer,-->
<!--            you may create an electronic document that is the equivalent of the above sheet(s) of paper-->
<!--            and you may access that document while taking the exam.-->
<!--          </li>-->
<!--          <li>-->
<!--            The Hint Sheet will be the ONLY external source of information-->
<!--            that you may use while taking the Paper-and-Pencil part of the exam.-->
<!--          </li>-->

<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          To <span class="important">TAKE the Paper-and-Pencil part</span> of the exam, you will:-->
<!--        </p>-->
<!--        <ol type="a">-->
<!--          <li> Get onto your computer, connected to the Internet. (If this is difficult for you, contact us.)</li>-->
<!--          <li>-->
<!--            Enter Moodle and enter the session/topic named for the exam:-->
<!--            <span class="important_emphasis">Session 7 for Exam 1</span>,-->
<!--            or <span class="important_emphasis">Session 16 for Exam 2</span>.-->
<!--          </li>-->
<!--          <li>-->
<!--            <span class="important">Read the document</span> named-->
<!--            <span class="important_emphasis">Paper-and-Pencil part.</span>-->
<!--            <ul>-->
<!--              <li> It will be a PDF with the statements of the problems.</li>-->
<!--              <li> You may print the document if you wish, but you do not have to do so.</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ol>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          To <span class="important">WRITE YOUR ANSWERS,</span> do one of the following (YOUR CHOICE):-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <span class="important_emphasis">hand-write your answers on the document</span> if you printed it, or-->
<!--          </li>-->
<!--          <li>-->
<!--            <span class="important_emphasis">hand-write your answers on a separate sheet of paper,</span>-->
<!--            or-->
<!--          </li>-->
<!--          <li>-->
<!--            <span class="important_emphasis">type your answers in a file.</span>-->
<!--            <ul>-->
<!--              <li> A plain text file (as in Notepad) is best, but a Microsoft Word file is OK.</li>-->
<!--              <li> It does not matter what the name of the file is.</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <p>-->
<!--          Number your answers in the same order as they appear in the document with the problem statements.-->
<!--        </p>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          To <span class="important">TURN IN YOUR ANSWERS:</span>-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li> If you wrote your answers by hand, take a photo of your answers.</li>-->
<!--          <li>-->
<!--            Submit either that photo or the file in which you typed your answers to Moodle-->
<!--            in the item named <em>Turn in your Paper-and-Pencil portion of the exam here.</em>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          If you have <span-->
<!--            class="important">QUESTIONS while taking the Paper-and-Pencil portion of the exam:</span>-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li> You may contact us by using Microsoft Teams, by email, or by telephone (your choice).</li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li>-->
<!--        <p>-->
<!--          <span class="important">While you are taking the Paper-and-Pencil portion of the exam:</span>-->
<!--        </p>-->
<!--        <ul>-->
<!--          <li>-->
<!--            You may use any <span class="important">assistive devices</span> you normally use for taking exams,-->
<!--            including but not limited to the following:-->
<!--            <ul>-->
<!--              <li> Dictionaries and/or translators.</li>-->
<!--              <li> Hearing, vision and hand-writing assistive devices.</li>-->
<!--              <li> Devices to address dyslexia.</li>-->
<!--              <li> A calculator (to be used only for calculating numeric values – programming is NOT allowed on the-->
<!--                calculator).-->
<!--              </li>-->
<!--              <li> Blank paper and/or blank post-it notes.</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li>-->
<!--            You may use the <span class="important">Hint Sheet</span>-->
<!--            that you prepared (as described above).-->
<!--          </li>-->
<!--          <li>-->
<!--            You may <span class="important">-->
<!--            use your computer and phone ONLY for doing the things described above,</span>-->
<!--            plus-->
<!--            <ul>-->
<!--              <li> You may use a calculator tool on your computer/phone (but only for calculating).</li>-->
<!--              <li> You may listen to music if you wish.</li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li>-->
<!--            <span class="important">-->
<!--              You must NOT communicate with any person other than your instructor while taking the exam.-->
<!--            </span>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </ol>-->
<!--  </div>-->

<!--  <div style="height:30px"> &lt;!&ndash; blank space at the bottom of the page &ndash;&gt; </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
