<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:regular,italic,semibold,semibolditalic,bold,bolditalic,extrabold,extrabolditalic"
          rel="stylesheet">
    <link href="../../styles/color_scheme.css" rel="stylesheet">
    <link href="../../styles/style.css" rel="stylesheet">
    <link href="../../styles/navigation_bar.css" rel="stylesheet">
    <link href="../../styles/session_page.css" rel="stylesheet">

    <title> CSSE 120: Session __SESSION_NUMBER__ </title>
</head>

<body>

__NAVIGATION_BAR__

<div class="session-page">
    <div class="session-header">
        <span class="session-number">Session __SESSION_NUMBER__ Preparation</span>
        <!--    <span class="distinguish-from-surrounding-padded">Videos/Reading,</span>-->
        <!--    <span class="distinguish-from-surrounding-padded">Start-the-Session Quiz,</span> and-->
        <!--    <span class="distinguish-from-surrounding-padded">Start-the-Session Follow-Me</span>-->
    </div>

    <div class="session-body">
        __VIDEOS_READING_SECTION__

        __QUIZ_SECTION__

        __FOLLOW_ME_SECTION__
    </div>
</div>

__FOOTER__

</body>
</html>
