<div class="exam">
    <div class="session-number-and-date">
        <span class="session-prefix"> Session </span>
        <span class="session-number"> SESSION_NUMBER </span>
        <span class="exam-number"> (Exam __EXAM_NUMBER__) </span>
    </div>
    <div class="session-preparation">
        <a class="preparation-link" href="Sessions/SessionSESSION_FOLDER_NUMBER/index.html">Preparation</a>
    </div>
    <div class="exam-date">
        <span class="day-of-week"> __EXAM_DAY_OF_WEEK__, </span>
        <span class="date"> __EXAM_DATE__ </span>
    </div>
    <div class="exam-notes"> Exam __EXAM_NUMBER__ has an ADMISSION TICKET</div>
    <div class="exam-time"> __EXAM_TIME__</div>
    <div class="exam-notes"> and is NOT in your usual classroom.</div>
    <div class="no-class"> No regular class __REGULAR_CLASS_DAY__.</div>
    <div class="exam-link"> See <a href="Sessions/ExamInformation/Exam__EXAM_NUMBER__/index.html">
        Exam __EXAM_NUMBER__ information</a> for details.
    </div>
</div>