<div class="start-the-session-follow-me">
    <div class="start-the-session-follow-me-header">
        Start-the-Session <span class="distinguish-from-surrounding">Follow-Me</span>
    </div>
    <div class="start-the-session-follow-me-body">
        <p>
            <span class="emphasis">AFTER completing the Start-the-Session Quiz to the left:</span>
        </p>
        <ul class="instructions">
            <li>
                <span class="critical">Step 1:</span> &nbsp;
                <span class="emphasis">
          Open PyCharm and do &nbsp; VCS ~ Update Project &nbsp
          to obtain the new in-class project
        </span>
                if it is not already in your list of projects in PyCharm.
            </li>
            <li>
                <span class="critical">Step 2:</span> &nbsp;
                <span class="emphasis"> Watch the</span>
                <span class="emphasis distinguish-from-surrounding">Follow-Me videos listed below,</span>
                and as you watch each one:
            </li>
            <li>
                <span class="critical">Step 3:</span> &nbsp;
                <span class="emphasis">Do the coding in PyCharm, following what you see on the video.</span>
                <ul>
                    <li>
                        You can do the coding as the video does it or by reviewing the video afterwards (your choice).
                    </li>
                    <li>
                        The key is to <span class="emphasis">UNDERSTAND</span> what you are coding,
                        not merely type what the video shows.
                    </li>
                </ul>
            </li>
        </ul>
        <p class="title-for-list">
            <span class="emphasis">Follow-Me videos:</span>
        </p>
        <ol class="activities">
            __SESSION_SECTION_ITEMS__
        </ol>
    </div>
</div>



