<div class="start-the-session-quiz">
    <div class="start-the-session-quiz-header">
        Start-the-Session <span class="distinguish-from-surrounding">Quiz</span>
    </div>
    <div class="start-the-session-quiz-body">
        <p>
            <span class="emphasis">AFTER completing the Preparation to the left:</span>
        </p>
        <ul class="instructions">
            <li>
                <span class="critical">Step 1:</span> &nbsp;
                <span class="emphasis">
          Do this <a href="../Quizzes/Quiz__QUIZ_NUMBER__.pdf">Start-the-Session Quiz</a>.
        </span>
                <ul>
                    <li>
                        You do not have to print the quiz (unless you want to).
                    </li>
                    <li>
                        Just hand-write your answers on paper or type your answers into a file,
                        whichever is easier for you.
                    </li>
                </ul>
            </li>
            <li>
                <span class="critical">Step 2:</span> &nbsp;
                <span class="emphasis">Check your own answers by watching the videos listed below.</span>
                <ul>
                    <li>
                        Of course, do the quiz BEFORE checking its answers!
                    </li>
                    <li>
                        Check your answers carefully!
                    </li>
                </ul>
            </li>
            <li>
                <span class="critical">Step 3:</span> &nbsp;
                <span class="emphasis">Turn in your answers to the Before-the-Session Quiz</span>
                in the usual way, on Moodle,
                via the item named
                <span class="name-of-something">Turn in your Before-the-Session Quiz here.</span>
            </li>
            <li>
                <span class="critical">Step 4:</span> &nbsp;
                <span class="emphasis">Get help on anything that is not clear to you.</span>
            </li>
        </ul>
        <p class="title-for-list">
            <span class="emphasis">Videos with solutions to the Start-the-Session Quiz:</span>
        </p>
        <ol class="activities">
            __SESSION_SECTION_ITEMS__
        </ol>
        <p class="title-for-list">
            For your reference, here is a written
            <a href="../Quizzes/Quiz__QUIZ_NUMBER__-SOLUTION.pdf">Answer Key</a> to the above Start-the-Session Quiz.
        </p>
    </div>
</div>
