<div class="preparation">
    <div class="preparation-header">1. Videos/Reading with Quizzes in Moodle</div>
    <div class="preparation-body">
        <p>
            <span class="emphasis">BEFORE this session's scheduled class time,</span>
            for each of the following videos or reading:
        </p>
        <!--    <ul class="instructions">-->
        <!--      <li>-->
        <!--        <span class="critical">Step 1:</span> &nbsp;-->
        <!--        <span class="emphasis"> Watch the video</span> (or read the reading).-->
        <!--      </li>-->
        <!--      <li>-->
        <!--        <span class="critical">Step 2:</span> &nbsp;-->
        <!--        As you do so,-->
        <!--        <span class="emphasis">do the associated quiz in Moodle.</span>-->
        <!--      </li>-->
        <!--      <li>-->
        <!--        <span class="critical">Step 3:</span> &nbsp;-->
        <!--        <span class="emphasis">Get help on anything that is not clear to you.</span>-->
        <!--      </li>-->
        <!--    </ul>-->
        <!--    <p class="title-for-list">-->
        <!--      <span class="emphasis">Videos / Reading:</span>-->
        <!--    </p>-->
        <ol class="activities">
            __SESSION_SECTION_ITEMS__
        </ol>
    </div>
</div>