<li class="exam-preparation">
    <span class="emphasis">Continue preparing for Exam __EXAM_NUMBER</span> by doing the following,
    as described at the
    <a href="../ExamInformation/Exam__EXAM_NUMBER__/index.html">Exam __EXAM_NUMBER information.</a>:
    <ul>
        <li> Complete and UNDERSTAND the TWO items that are your
            <span class="critical">ADMISSION TICKET</span> for taking the exam.
        </li>
        <li>
            Prepare your __NUMBER_OF_PAGES__-page &ldquo;Hint Sheet&rdquo; for the paper-and-pencil part of the exam.
        </li>
    </ul>
    <p>
        Complete these before Exam __EXAM_NUMBER__ (not necessarily before Session __SESSION_NUMBER__).
    </p>
</li>
